<?xml version="1.0"?>
<system.diagnostics>
    <assert assertuienabled="false" logfilename="assert.log" />
    <performanceCounters filemappingsize="123456"/>
    <switches>
        <add name="X4D.Diagnostics.Logging" value="Verbose" />
        <add name="ExampleDisabledSwitch" value="Off"/>
    </switches>
    <sources>
        <source name="X4D.Diagnostics.Logging" switchName="X4D.Diagnostics.Logging">
            <listeners>
                <add name="TestLog" />
            </listeners>
        </source>
        <source name="X4D.Diagnostics.TraceListeners" switchName="X4D.Diagnostics.Logging">
            <listeners>
                <add name="UdpLog" />
            </listeners>
        </source>
        <source name="ExampleDisabledTraceSource" switchName="ExampleDisabledSwitch">
            <listeners>
                <add name="TestLog" />
            </listeners>
        </source>
        <source name="ExampleCustomSwitchOnTraceSource" switchType="X4D.Diagnostics.Fakes.FakeSourceSwitch,X4D.Diagnostics.Test" switchValue="All">
            <listeners>
                <add name="TestLog" />
            </listeners>
        </source>
    </sources>
    <trace autoflush="true">
        <listeners>
            <add name="TraceLog" />
            <add name="TestLog" />
        </listeners>
    </trace>
    <sharedListeners>
        <!-- instance assigned to `<trace/>` element -->
        <add name="TraceLog"
             type="X4D.Diagnostics.Fakes.FakeTraceListener,X4D.Diagnostics.Test"
             traceOutputOptions="ProcessId, ThreadId, DateTime" />
        <!-- instance used for various test confirmations -->
        <add name="TestLog"
             type="X4D.Diagnostics.Fakes.FakeTraceListener,X4D.Diagnostics.Test"
             traceOutputOptions="ProcessId, ThreadId, DateTime" />
        <add name="UdpLog"
             type="X4D.Diagnostics.TraceListeners.UdpTraceListener,X4D.Diagnostics.TraceListeners"
             initializeData="localhost:514"/>
    </sharedListeners>
</system.diagnostics>
